a {
  text-decoration: none;
  color: #fff;
}
.root {
  text-align: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.nav-bar {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-items {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  list-style: none;
  padding-inline-start: 0;
}

.nav-item {
  list-style: none;
  font-size: 24px;
}

/* ----------------------- */
.main-container {
  width: 80%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------------- */

.form-wrapper {
  width: 80%;
  margin: 5% 10% 5% 10%;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 98%;
  height: 40px;
  border-radius: 20px;
  appearance: none;
  font-size: 20px;
  padding: 0 1rem 0 1rem;
}

/* --------------------- */

.card {
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-img {
  width: 100%;
}

.card-info {
  background-color: #ccc;
  padding: 1rem 0 1rem 0;
}

.card-title {
  width: 100%;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  padding-left: 1rem;
}

.card-span {
  width: 100%;
  padding-left: 1rem;
}